Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -clang-analyzer-security.insecureAPI.*

CheckOptions:
  - key:           clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
    value:         false
